html,body{
  background: #F0F2F4 !important;
}

.profile{
  border: 3px solid #ccc;
  border-radius: 50%;
}

.welcome{
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  color: white;
}

.body-title{
  color: white !important;
}

.navbar-item {
  display: flex;
}

