---
layout: default
---
<header class="header">
    <div class="container">
        <h1 class="header-heading">About me</h1>
        <div class="header-description">
            <p>Developer for web and mobile applications, member of <a href="https://tutsplus.com/authors/rachid-sakara" target="_blank">Tuts+</a> translation team but for the meantime, I'm starting a whole brand new career as freelance writer, wish me luck!</p>
        </div>

        {% include social-links.html %}

    </div>
</header>

{% include newsletter.html %}