<section class="newsletter">
    <div class="container">
        <form action="https://rachidlaasri.us13.list-manage.com/subscribe/post?u=35a1a45a805b7f97564678012&amp;id=4ee6bc5457" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form" target="_blank" novalidate>
            <i class="newsletter-icon fa fa-envelope-open-o"></i>
            <h3 class="newsletter-heading">Subscribe to updates</h3>
            <h2 class="newsletter-heading">Stay in touch</h2>
            <div class="newsletter-controller">
                <input class="newsletter-input" name="EMAIL" type="email" placeholder="Email address">
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_35a1a45a805b7f97564678012_4ee6bc5457" tabindex="-1" value="">
                </div>
                <button class="newsletter-submit" type="submit">
                    <i class="fa fa-long-arrow-right"></i>
                </button>
            </div>
        </form>
    </div>
</section>