<ul class="header-social">
    <li>
        <a class="button is-twitter is-moving"
            href="https://twitter.com/{{ site.twitter_username }}"
            target="_blank">
            <i class="fa fa-twitter"></i>
            <span>@{{ site.twitter_username }}</span>
        </a>
    </li>
    <li>
        <a class="button is-github is-moving"
            href="https://github.com/{{ site.github_username }}"
            target="_blank">
            <i class="fa fa-github"></i>
            <span>rachidsakara</span>
        </a>
    </li>
    <li>
        <a class="button is-google is-moving"
            href="mailto:{{ site.email }}">
            <i class="fa fa-google"></i>
            <span>{{ site.email }}</span>
        </a>
    </li>
</ul>